*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    overflow: hidden;
}
#page{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #f1f1f1;
    z-index: 2;
}
#page1{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;

}
.page4{
    z-index: 10;
    position: relative;
    height: 100vh;
    width: 100vw;
    background: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#page2{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
#page3{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}
canvas{
    position: relative;
    z-index: 9;
    max-width: 100vw;
    max-height: 100vh;
}
#loop{
    position: absolute;
    top: 38%;
    left: 10%;
    z-index: 100; 
}
#loop>h5{
    color: #7c7c7c;
    font-size: 1.5rem;
}
#loop>h4{
    font-size: 4rem;
    font-weight: bolder;
    color: #656161;

}
#loopp{
    display: flex;
    top: 50%;
    left: 0;
    height: 25%;
    width: 50%;
    position: absolute;
    font-size: 2.5rem;
    white-space: nowrap;
    gap: 1rem;
    overflow: hidden;
}
h1{
    font-size: 2.5rem;
    margin-left: 1rem;
    font-weight: bolder;
}
h2,#loopp>i{
    font-weight: 400;
    animation-name: anima;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
h2>span,h1>span{
    -webkit-text-stroke: 1.4px #494343; /*border color*/
    color: transparent;
    font-weight: 500;
}
span{
    -webkit-text-stroke: 2.3px #a09393; /*border color*/
    color: transparent;
    font-weight: 200;
}

@keyframes anima {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}
#nav{
    padding-left: 3rem;
    padding-right: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8%;
    z-index: 10;
    background: transparent;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 40rem;
}
.nav2>a{
    font-size: 1rem;
}
#menu-btn{
    display: none;
}
button{
    padding: .5rem .6rem;
    background-color: #494343;
    color: #fff;
    font-size: .9rem;
    border-radius: 1rem;
    border: none;
    transition: .5s;
    cursor: pointer;
}
button:hover{
    scale: 1.1;
    background-color: rgb(247, 104, 104);
}
#page>h3{
    position: absolute;
    top: 70%;
    font-weight: 400;
    color: #7c7c7c;
    right: 5%;
}
#page>h4{
    position: absolute;
    top: 62%;
    right: 25%;
    font-weight: 500;
}
/*   About */ 
#loopp>i{
    background-color: #d4cece;
    padding: 4rem;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;
}
.glass2>p{
    width: 38%;
}
.pg1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.left>h3{
    padding-top: .5rem;
    margin-left: -12rem;
    font-size: 1.2rem;
}
.left>h1{
    font-size: 4rem;
}
.left>button{
    margin-top: 20rem;
}
.glass2>p{
    position: absolute;
    top: 45%;
    right: -1%;
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem;
}
.left{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
    margin-left: -10%;
}
h3,a{
    color: #7c7c7c;
    font-weight: 400;
    font-size: .8rem;
    text-decoration: none;
    transition: .5s;
}
a:hover{
    scale: 1.2;
    color: #515050;
}
#page2{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.l1{
    margin-top: -20%;
}
.l2{
    margin-right: -12rem;
}
p{
    margin-top: 10rem;
    text-align: center;
    color: #7c7c7c;
    font-weight: 300;
    font-size: .8rem;
}
p2{
    text-align: center;
    font-weight: 600;
}
#page3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.l3{
    margin-top: -28rem;
}
.cl>h3,.cr>h3{
    font-size: 2rem;
}
.page4{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}
.cl{
    margin-top: -8%;
}
.cl,.cr{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}
.b1, .b2, .b3{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding:.8rem 4rem;
    background-color: #d8d7d7;
    border-radius: 1.5rem;
}
.b1>img, .b2>img, .b3>img{
    margin: 1rem;
    border-radius: 2rem;
}
.cr>h3{
    margin-left: 8rem;
}
.p1{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 40%;
}
input,#inp{
    padding: 1rem;
    padding-left: 2rem;
    border-radius: 1.5rem;
    border: none;
    background-color: #f9f0f0;
    transition: .5s;
    font-size: 1rem;
    outline: none;
}
input:hover,#inp:hover{
    background-color: #cccbcb;
}
form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 28rem;
}
#icons{
    font-size: 2rem;
    transition: .5s;
}
#icons:hover{
    scale: 1.3;
}

/* Social */
.social1{
    position: absolute;
    top: 40%;
    right: 5%;
    z-index: 10;
}
.social1 ul li{
    padding: 8px;
    text-decoration: none;
    list-style: none;
    transition: 0.5s;
    font-size: 20px;
}
.social1 ul li a{
    font-size: 1.4rem;
    color: #161616;
}
.social1 ul li :hover{
    color: #aa58f6;
    transform: translateY(-5px);
}
/* Animation */
.ball::before{
    position: absolute;
    content: '';
    height: 400px;
    width: 400px;
    border-radius: 50%;
    right: -8%;
    top: -20%;
    z-index: -1;
    background: linear-gradient(90deg, rgb(238, 235, 235),#b5a7ac);
    animation: object1  6s linear infinite;
}
.ball::after{
    position: absolute;
    content: '';
    height: 150px;
    width: 150px;
    border-radius: 50%;
    left: 1%;
    top: 80%;
    z-index: 1;
    background: linear-gradient(45deg, rgb(203, 198, 198),#f7e8ed);
    animation:  object2 6s linear infinite;
}
@keyframes object1 {
    50%{
        right: -12%;
        top: -10%;
    }
}
@keyframes object2 {
    50%{
        right: 40%;
        top: 38%;
    }
}
#preloader{
    background: #000000 url(load2.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 2000;
} 

/* Mobile devices //lage device- 768px */
@media(max-width: 640px){
    #main{
        background: #363535;
    }
    #page{
        background: #3f3b3b;
        transition: .5s;
    }
    #page1,#page2,#page3{
        background: #312e2e;
    }
    #page3{
        height: 100%;
    }
    #nav>h1{
        color: #c5b1b1;
        font-size: 1.2rem;
        margin-left: -.5rem;
    }
    .na{
        -webkit-text-stroke: 1.5px #e4ccfc; /*border color*/
    }
    button{
        font-size: .7rem;
    }
    #loop{
        margin-left: -2rem;
        z-index: 100;
    }
    #loop>h5,#loop>h4,#loop>h1{
        color: #e2deec;
    }
    .multitxt{
        -webkit-text-stroke: 2.5px #d5b2f8; /*border color*/
    }
    #page>h3{
        top: 80%;
        z-index: 100;
        color:rgb(30, 28, 28);
    }
    #page>h4{
        right: 1rem;
        top: 70%;
        z-index: 100;
        color: rgb(202, 176, 239);
    }
    .social1 ul li a{
        color: #ded8f1;
    }

    .pg1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    /* About  */
    .left>h1{
        font-size: 5rem;
        z-index: 10;        
    }
    .left{
        position: absolute;
        top: 5rem;
        margin-left: .8rem;
        margin: auto;
        background: linear-gradient(135deg, rgba(255,255,255,0.8),rgba(255,255,255,0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(50px);
        border-radius: 1rem;
        border: 1px solid rgba(74, 68, 68, 0.18);
        box-shadow: 0 8px 32px 0 rgba(221, 217, 217, 0.38);
    }
    .left>button{
        margin-top: 60%;
        left: -2.3rem;
        transform: rotate(90deg);
        position: absolute;
        background-color: rgb(95, 82, 106);
    }
    #loopp{
        width: 100%;
    }
    .right{
        z-index: 100;
        width: 100%;
    }
    .glass2>p{
        width: 100%;
        margin-left: 1rem;
        color: rgb(202, 198, 204);
        padding: 1rem;
        font-weight: 900;
        margin-top: -1rem;
        font-size: 1.3rem;
        -webkit-text-stroke: 1px #b6b2bc; /*border color*/
    }
    .right>.glass2>p{
        z-index: 100;
        width: 480px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-top: 31rem;
        background: linear-gradient(135deg, rgba(65, 63, 72, 0.8),rgba(255,255,255,0));
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(50px);
        border-radius: 2rem;
        border: 1px solid rgba(74, 68, 68, 0.18);
        box-shadow: 0 8px 32px 0 rgba(73, 70, 70, 0.38);
    }
    /* Contact */
    .page4{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .p1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .cr{
        top: 18%;
        z-index: 100;
        width: 100%;
    }
    .cr>h3{
        font-weight: 900;
        margin-left: 1.8rem;
        -webkit-text-stroke: 1.2px #d5c7f3; /*border color*/
    }
    form{
        width: 24rem;
        gap: .8rem;
    }
    form>button{
        width: 50%;
        margin: auto;
        padding: 1.2rem;
        font-size: 1rem;
    }
    .cl{
        display: none;
    }
    /* for Padding in skills */
    #page2>.glass,#page3>.glass,.page4{
        margin-top: 5rem;
    }
    .skills{
        padding: 1rem;
    }
}
/* for Page Animation */
.page4,.left{
    opacity: 0;
    transition: all 3s;
    filter: blur(15px);
    transform: translateX(-100%);
}
.left{
    z-index: 100;
    opacity: 0;
    transition: all 4s;
    filter: blur(15px);
    transform: translateY(-100%);
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
/* for IMAGE Animation 
a>img:nth-child(2){
    transition-delay: 200ms;
}
a>img:nth-child(3){ 
    transition-delay: 400ms;
}
a>img:nth-child(4){
    transition-delay: 600ms;
}
*/

/* for Page UP */
.top{
    z-index: 100;
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: black;
    background: #bbbbe1;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}
/* Glass Effect */
.glass>h5{
    font-size: 3rem;
    color: #515051;
    font-weight: 800;
}
.glass{
    z-index: 100;
    width: 900px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: linear-gradient(135deg, rgba(255,255,255,0.8),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(50px);
    border-radius: 2rem;
    border: 1px solid rgba(74, 68, 68, 0.18);
    box-shadow: 0 8px 32px 0 rgba(73, 70, 70, 0.38);
}
.skills{
    width: 100%;
    max-width: 500px;
    padding: 0 20px;
    margin-bottom: 2rem;
  }
  
  .skill-name{
    font-size: 2rem;
    font-weight: 800;
    color: #61586a;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 1rem;
  }
  .skill-names{
    font-size: 2rem;
    font-weight: 800;
    color: #61586a;
    padding-left: 1rem;
  }
  
  .skill-bar{
    height: 1.8rem;
    background: #aea6b1;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  
  .skill-per{
    height: 1.8rem;
    background: #9a88eb;
    position: relative;
    animation: fillBars 3.5s infinite;
    border-radius: 1rem;
  }
  
  .skill-per::before{
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: #f1f1f1;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
  }
  
  .skill-per::after{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f1f1f1;
    top: -20px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
  }
  
  @keyframes fillBars{
    from{
      width: 0;
    }
    to{
      width: 100%;
    }
  }

  /* Project Section */
#page3>.glass{
    width: 1200px;
  }
.proj{
    width: 100%;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
    grid-gap: 1rem;
    margin-left: 5rem;
    margin-top: 3rem;
}
a>img{
    width: 80%;
    border-radius: 1rem;
    transition: .5s;
}
a>img:hover{
    scale: 1.1;
}